@model IEnumerable<HomeTownZooCore.Models.Animal>

@{
    ViewData["Title"] = "Index";
}

@section head{ 

    <style> 
            td > form{display:inline}        
    </style>
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnimalId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnimalId">Details</a> |
                @*<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.AnimalId">Delete</a>*@
                <form asp-action="Delete" asp-controller="Animals">
                    <input type="hidden" name="id" value="@item.AnimalId" />
                    <input type="submit"  class="btn btn-danger" value="Delete" 
                           data-animal-id="@item.AnimalId"
                           data-animal-name="@item.Name"/>
                    
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{ 
    <script>
        //when DOM is ready
        $(function () {
            //JQuery version
            //let allForms = $("td > form");
            //no JQuery
            let allForms = document.querySelectorAll("td > form > input[type=button]");
            for (let i = 0; i < allForms.length; i++) {
                allForms[i].onclick = deleteAnimal;
            }
        });

        function deleteAnimal(evt) {
            console.log("delete animal was called");

            console.log(this);
            var btn = this;
            var animalName = btn.getAttribute("data-animal-name");

            var confirmation = confirm("Are you sure you want to delete " + animalName);

            //evt.preventDefault();
          

            if (confirmation) {
                //send request using AJAX
                $.post("/Animals/Delete", { id: btn.id })
                    .done(function (data) {
                        //data would be the return value from the server.
                    })
                    .fail(function () {
                        //data is not being deleted (server issue)
                        alert("animal cant be deleted at this time");
                    })
                    .always(function () {
                        //always executes no matter success or failure
                    });
            }
           

            
        }
    </script>
        
    
}
